<html>
    <meta charset="UTF-8" />
    <p>Su observación fue denegada: <strong>P{id}</strong></p>

    <p>Tipo reporte: <strong>P{actividad}</strong></p>

    <p>Motivo: <strong>P{motivo}</strong></p>

    <p>Responsable: <strong>P{responsables}</strong></p>

    <p>Fecha Proyectada: <strong>P{fechaproyectada}</strong></p>

    <p id="url">Puede ingresar a traves de la siguiente URL :</p>

    <a href="https://sigess.app/app/auc/gestionObservaciones">
        https://sigess.app/app/auc/gestionObservaciones
    </a>
    <p>
        O a traves de la siguiente URL
        <a href="https://sigess.app"> https://sigess.app</a>
        Modulo Reporte de condiciones - Consultar
    </p>
</html>
