<html>

<meta charset="UTF-8">
<p>P{responsables}</p>
	
	
    <p>Se realizo la inspección  P{id}</p>
	<p>Lista: P{nombreinspeccion}</p>
	
	<p>Fecha y hora de la inspeccion: <strong>P{fecharealizada}</strong></p>
	
	<p>Area: <strong>P{area}</strong></p>
	
	<p>se encontraron los siguientes hallazgos criticos:</p>
	
	<p><strong>P{riesgo}</strong></p>



    <p id="url">Puede ingresar a traves del siguiente link :</p>

    <a href="https://sigess.app/app/inspecciones/elaboracionInspecciones/P{ids}">
        https://sigess.app/app/inspecciones/elaboracionInspecciones/P{ids}
    </a>
	<p>
        -- 
        <a href="https://sigess.app/app/sec/desviaciones">
		https://sigess.app/app/sec/desviaciones
		</a>
        
    </p>
    <p>
        O a traves de la siguiente URL
        <a href="https://sigess.app"> https://sigess.app</a>
        Modulo Inspecciones  - inspecciones realizadas o seguimiento y control - investigación
    </p>
</html>