<p>
    <span>{fechaActual}</span><br>
    <br>
    Estimado {solicitadoNombresMail}<br>
    <br>
    El usuario {nameSolicitante} ha solicitado el documento de {presudiosmaximomeridio} asociado al caso SL-{pkCase} del trabajador(a) {nameSolicitado} C.C. {cedulaSolicitado}. El plazo limite para subir este documento es en la fecha {fechaLimite}. Por favor ingresa al siguiente <a href="P{ambiente_actual}/app/scm/documentacionsolicitado">enlace</a> para subir dicho documento <br>
    <br>
    Agradecemos su pronta respuesta.<br>
    <br>
    Feliz Día.
</p>