<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <meta charset="UTF-8">
    
    <td style="width: 55px;"><img class="logo" src="https://sigess.app/logopngcorona.png" /></td>
    <p id="url">Señor aliado (P{nombre} NIT:P{nit}) de Corona por favor ingresar al siguiente link y actualizar sus datos:</p>
    
    <a href="P{host1}/app/ctr/actualizarAliado/P{id}">
        P{host1}/app/ctr/actualizarAliado/P{id}
    </a>
    
    <p>
        O a traves de la siguiente URL
        <a href="P{host1}"> P{host1}</a>
        Modulo Aliados  - Administración
    </p>
    
    <p>Encuentra <a href="P{host1}/manual_aliados.pdf">aquí</a> el manual para el uso del módulo de aliados</p>
  
</html>
