<html>

<meta charset="UTF-8">
<p>responsable: P{nombre}</p>
	
	
    <p>Usted tiene asignadas P{count} tareas:</p>

	<p>Abiertas: P{abierto}</p>
	
	<p>En seguimiento: P{seguimiento}</p>

	<p>Vencidas: P{vencida}</p>



    <p id="url">Puede ingresar a traves del siguiente link :</p>

    <a href="https://sigess.app/app/sec/misTareas">
        https://sigess.app/app/sec/misTareas
    </a>

    <p>
        O a traves de la siguiente URL
        <a href="https://sigess.app"> https://sigess.app</a>
        Modulo Seguimiento y Control - Mis tareas
    </p>
</html>