<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <p>El Aliado P{nombre} de NIT:P{nit}, modificó el estado del reporte AT Nº P{id}.</p>
        <p>Puede consultar el reporte en: <a href="P{host1}/app/rai/consultarReporteCtr/P{id}">P{host1}/app/rai/consultarReporteCtr/P{id}</a></p>
        <p>
            O a través de la siguiente URL
            <a href="P{host1}">P{host1}</a>
            Módulo Aliados - Consulta reportes de aliados
        </p>
    </body>
</html>
