<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <meta charset="UTF-8">
    <p id="url">Señor gestor el aliado (P{nombre} NIT:P{nit}) actualizo la información, la puede consultar en el siguiente link:</p>
    
    <a href="P{host1}/app/ctr/actualizarAliado/P{id}">
        P{host1}/ctr/actualizarAliado/P{id}
    </a>
    
    <p>
        O a traves de la siguiente URL
        <a href="P{host1}"> P{host1}</a>
        Modulo Aliados  - Listado de Aliados
    </p>
  
</html>