<p>
    <span>9/05/2024</span><br>
    <br>
    Estimado Fredy Alejandro Montaño Joya,<br>
    <br>
    El usuario identificado con cédula 100100207599 ha solicitado el documento de "Certificado de cargos y labores desempeñados con sus respectivas fechas de inicio y finalización:" con plazo límite hasta la fecha 12/05/2024. Por favor, ingrese al siguiente enlace para subir dicho documento: <a href="http://localhost:4200/app/scm/saludlaboral">Enlace para subir documento</a>.<br>
    <br>
    Agradecemos su pronta respuesta.<br>
    <br>
    Feliz Día.
</p>

