<!DOCTYPE html>

<html>
    <meta charset="UTF-8">
    
    <td style="width: 55px;"><img class="logo" src="https://sigess.app/logopngcorona.png" /></td>
    <p id="url">Se realizó la inspección INP-P{insp} para el aliado P{razonsocial}, puede ver el resultado de la inspección ingresando al siguiente link:</p>
    
    <a href="P{host1}/app/ctr/auditoriasRealizadas">
        P{host1}/app/ctr/auditoriasRealizadas
    </a>
    
    <p>
        O a través de la siguiente URL
        <a href="P{host1}"> P{host1}</a>
        Modulo Aliados  - Ciclo corto
    </p>
  
</html>
