<html>

<meta charset="UTF-8"> 
<p>
    Se le ha asignado una  tarea: <strong>P{responsables}</strong>
<p>
    Actividad: <strong>P{actividad}</strong>
<p>
    Fecha Proyectada: <strong>P{fechaproyectada}</strong>
</p>
<p id="url">
    Puede ingresar a travez de la siguiente URL : 

	
</p>

<a href="https://sigess.app/app/sec/tarea/P{id}"> https://sigess.app/app/sec/tarea/P{id} </a>
<p>
	O a travez de la siguiente URL  <a href="https://sigess.app"> https://sigess.app</a> 
	modulo  seguimiento  y control , tareas asignadas
</p>

</html>