<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <meta charset="UTF-8">
    <p id="url">Señor usuario el aliado actualizo su información, la puede consultar en el siguiente link:</p>
    
    <a href="https://demo.sigess.app/app/ctr/actualizarAliado/P{id}">
        https://demo.sigess.app/app/ctr/actualizarAliado/P{id}
    </a>
    
    <p>
        O a traves de la siguiente URL
        <a href="https://demo.sigess.app"> https://demo.sigess.app</a>
        Modulo Contratistas  - Listado de Aliado
    </p>
  
</html>